@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}

body{
	
	width: auto;
	height: auto;
}


.positionsavindu1{
	position: fixed;
	z-index: 1;
	left: 0px;
	right: 0px;
	top: 105px;
}
.positionsavindu2{
	
	top: 395px;
	position: relative;
	z-index: 2;
}

.galary{
	

	width: 100%;
	height:250px;
	

	background-color: rgba(0,0,15,0.2);
	background-image: url("gsavidu1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.galary:hover{
	
	width: auto;
	height:280px;
	

	background-image: url("cover images.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	
}

.ourbrandname{
	
	font-family: 'Italianno', cursive;
	font-size: 50px;
	color: white;
	text-shadow: 6px 5px 5px green;
	text-decoration: underline;
	padding-top: 60px;
	padding-left: 5%;
	
    background-color: rgba(0,0,0,0.5);
	
	position: fixed;
	z-index: 2;
	
	
}

#bakes{
	font-size: 55px;
}

#family{
	font-size: 25px;
}
#name{
    padding-top: 120px;
	padding-left: 40%;
	font-size: 80px;
	font-weight: bold;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	color: #252622;
	letter-spacing:5px;
	text-shadow: 10px 5px white;
}
.box{
	width: 100px;
	height: 50px;
	background-color: white;
}
.h{
	width: 100%;
	height: 78px;
	
	color: black;
	text-align: center;
	
	background-color: rgba(0,0,40,0.4);
	text-decoration: underline;
}
.h:hover{
	color:black;
    background-color:rgba(0,0,12,0.3); 
	border: 1px solid #686868;
}
.box{
	width: 100%;
	height: auto;
}
.size{
	height: 250px;
}
.size:hover{
	width:auto;
	height: 350px;
	cursor:pointer;
}