@charset "utf-8";
/* CSS Document */
*root{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("file:///C:/Users/Hp/Documents/Unnamed%20Site%202/bee-5219887_1920.jpg");
}
.header{
    background-color:blue;
    width: auto;
    height:80px;
}
.footer{
    background-color: sienna;
    width: auto;
    height: 20px;
    text-align: center;
}

ul.li{
    float-right;
}

